nav > ul{
    display: flex;
    
    
    
}
nav li{
    margin-right: 10px;
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: blue;
}
nav li:hover{
    background-color: wheat;

}
nav li .dropdown{
    display: none;
}
nav li:hover .dropdown{
    display: block;
    background-color: aqua;
    padding: 10px;
}
nav li ul .drop-2{
    display: none;
}
nav li :hover > .drop-2{
    display: block;
    background-color: black;
    padding-left: 0px;
}